<!DOCTYPE html>
<html>
<head>
    <title>Vue Component Blog Post Example</title>
    <script src="js/vue.js"></script>
    <link rel="stylesheet" type="text/css" href="css/style.css" />
</head>
<body>

<div id="app">
    <h1>CONDITIONAL STATMENT</h1>
    <button v-on:click="error=!error">Error</button>
    <button v-on:click="success =!success">Success</button>

    <p v-if="error">There is some errors</p>
    <p v-else="error">No errors</p>
    <ul>
        <li v-for="item in items">{{item.item  }}</li>


    </ul>
 </div>

<script src="js/index.js"></script>
</body>
</html>
